//Paleta de colores

$color-principal:  #AAAF6B;
$color-letra: black;
$color-textoprincipal: rgb(214, 134, 134);
$color-botonfondo:  #999672;
$color-botonfuente: white;


//Fonts

$fuente-card: Arial, Helvetica, sans-serif;

